# --- Archivos de IntelliJ (IDE) ---
.idea/
*.iml
*.iws

# --- Archivos Compilados (Java) ---
out/
bin/
*.class

# --- Archivos temporales del Sistema Operativo ---
.DS_Store
Thumbs.db

# --- Archivos generados por tu App en tiempo de ejecución ---
# El historial de transacciones se crea al usar la app, no debe subirse
bank_history.csv

# Evitar subir recibos generados ---
recibos_movil/

# NOTA: securebank_data.config SÍ lo dejamos porque son los datos iniciales de la app
# y no contienen información sensible.